name: game_for_cats_flutter
description: A new Flutter project.
publish_to: 'none'
version: 0.1.1

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flame: '1.19.0'
  flame_audio: '2.0.4'
  flutter_localizations:
    sdk: flutter
  flutter:
    sdk: flutter 
  intl: ^0.19.0
  path_provider: ^2.1.1
  sqflite: ^2.3.0
  flutter_launcher_icons: ^0.13.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21

flutter:   
  generate: true
  uses-material-design: true
  assets: 
    - assets/images/
    - assets/audio/